@font-face {
    font-family: SRH_Text;
    src: url(../font/SRH_Text/Web/WOFF/SRHText_W_Rg.woff);
}

@font-face {
    font-family: SRH_Text;
    src: url(../font/SRH_Text/Web/WOFF/SRHText_W_It.woff);
    font-style: italic;
}

@font-face {
    font-family: SRH_Headline;
    src: url(../font/SRH_Headline/Web/WOFF/SRHHeadline_W_Rg.woff);
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
    color: #df4807;
    font-size: 32px !important; 
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: SRH_Text, sans-serif;
    transition: 150ms;
    text-decoration: none;
    /* border: 1px solid beige; */
}

body{
    background-color: #fff;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-content: flex-start;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.coll-1 {
    height: 10%;
    width: 100vw;
    background-color:#f5f4f3;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.05);
    border-bottom-color: rgba(0,0,0,.05)
}

.coll-2{
    width: 90%;
}

.coll-3 {
    text-align: center;
    background-color:#f5f4f3;
    border-radius: 1em;
    border-bottom-left-radius: 0;
    width: 90%;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.08);
    margin-bottom: 33%;
}

.bg-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
    z-index: 0;
}

.bg {
    background-image: url("../src/Background_XS.jpg") ;
    background-size: cover;
    height: 67%;
}

.abdunkeln{
    width: 100%;
    height: 100%;
    background-color: #17171737;
}

.bar {
    background-color: #001725;
    height: 33%;
    width: 100%;
}

.logoMain{
    fill: #df4807;
}

.logoMeta{
    fill: #575756;
}


svg {
    overflow: visible;
    padding: 0.66em;
    padding-left: 1em;
    padding-bottom: 1em;
    height: 100%;
}

button {
    background-color: #f5f4f3;
    width: 100%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border: none;
}

h2 {
    font-size: 1.5rem;
    color: #df4807;
    padding: 1rem;
}

h1 {
    font-family: SRH_Headline, sans-serif;
    font-size: 2rem;
    color: #fff;
    padding: 1rem;
}

p {
    font-size: 1em;
}

a {
    color: #171717;
    text-decoration: underline;
    padding-right: 1em;
    width: 8em;
}

.info-bar {
    background-color: #f5f4f3;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.title {
    font-family: SRH_Headline, sans-serif;
    width: 81%;
    margin: auto;
    padding-top: 1rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    color: #575756;
    font-size: 1.5rem;
    color: #df4807;
}

.intro {
    height: 105%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: space-between;
    z-index: 1;
}

.info-box , .intro-text{
    text-align: justify;
    color: #575756;
    margin: auto;
    padding-bottom: 1em;
    padding-top: 0.5em;
}

.intro-text {
    width: 90%;
}

.info-box {
    max-width: 100vw;
    width: 81%;
    overflow: hidden;
}

.item-wrapper {
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.5em;
    padding-top: 1em;
}

.gesund > .info-box > .item-wrapper {
    aspect-ratio: 1 / 1.33;
}

.most_found{
    order: -1;
    margin-top: 2em;
}

.item {
    aspect-ratio: 1/1;
    width: 100%;
    border: 8px solid #575756;
    background-color: #D3D3D3;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(1);
}

.swiper-slide {
    order: 1;
}

.item > img {
    width: 100%;
    height: auto;
}

.found > .item {
    border-color: #df4807;
    filter: grayscale(0);
    background-color: white;
}

.found {
    order: 0;
}

/*

.swiper-slide:first-of-type > .item {
    border-radius: 25% 0 0 0;
}

.swiper-slide:last-child > .item { 
    border-radius: 0 25% 25% 0;
} 

*/

strong {
    font-weight: 700;
}

.footer_bottom {
    margin-top: auto;
    background-color: #df4807;
    height: 11em;
    width: 100%;
    padding: 1.2em;
    padding-left: 5.5em;
}

.footerlinks {
    width: 100%;
    height: 1em;
    padding-left: 1em;
}

.copyright {
    padding-right: 1em;
}

.footerlinks > a, .copyright {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}

.footer_bottom > .logo {
    padding-bottom: 2em;
    height: 6.5em;
}

.footer_bottom > .logo > .logoMain, .footer_bottom > .logo >.logoMeta {
    fill: #fff;
}

@media screen and (orientation: landscape){

    .coll-1 {
        height: 15%;
    }
    
    .coll-3{
        margin-bottom: 0%;
    }

    .bg-wrapper{
        height: 115%;
    }
    
    .bg {
        height: 60%;
    }
    
    .bar {
        height: 40%;
    }
}

@media screen and (max-width: 375px){

}

@media screen and (min-width: 375px){
    .bg {
        background-image: url("../src/Background_S.jpg") ;
    }
}



@media screen and (max-width: 576px){
    .footer_bottom {
        padding-left: 1rem;
    }
}

@media screen and (min-width: 576px){

}

@media screen and (min-width: 768px){
    .bg {
        background-image: url("../src/Background_M.jpg") ;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait){

    .title {
        font-size: 1.7rem;
    }
    
    p {
        font-size: 1.2em;
    }

    .material-symbols-rounded {
        font-size: 36px !important; 
    }  
}

@media screen and (min-width: 992px){

    .title {
        font-size: 1.7rem;
    }
    
    p {
        font-size: 1.2em;
    }

    .material-symbols-rounded {
        font-size: 36px !important; 
    }  

    .footerlinks > a {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px){

    .title {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.4em;
    }

    .material-symbols-rounded {
        font-size: 40px !important; 
    }  
}

@media screen and (min-width: 1400px){
    .bg {
        background-image: url("../src/Background_L.jpg") ;
    }
}

.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
    border-radius: 16px 0 16px 16px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .08);
    color: #fff;
    background-color: #001624;
    align-items: center;
    justify-content: center;
    padding: 64px;
    max-width: 50%;
}

.overlay-text {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-image > img {
    width: 256px;
    height: auto;
}
