.container-game {
    position: relative;
    height: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    margin: auto;
}

img[usemap] {
    max-width: 100%;
    max-height: 100%;
    border: none;
    object-fit: contain;
}

.ui {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    pointer-events: none;
}

.ui_top-right {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    flex-flow: row;
    gap: 16px;
    pointer-events: auto;
}

.ui_arrow-left {
    position: absolute;
    padding-right: 4px;
    top: 0;
    bottom: 0;
    left: 16px;
    margin: auto 0;
    pointer-events: auto;
}

.ui_arrow-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    margin: auto 0;
    pointer-events: auto;
}

.ui_timer {
    position: absolute;
    color: white;
    top: 16px;
    left: 16px;
    font-size: 16px;
    padding: 4px 8px;
    background-color: var(--primary);
    border-radius: 12px;
}

.game-images {
    position: relative;
    width: 100%;
    height: 100%;
}

.game-image {
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
}

.collected {
    filter: grayscale(1);
}

.overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 24px;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
    border-radius: 16px 0 16px 16px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .08);
    color: #fff;
    background-color: #001624;
    align-items: center;
    justify-content: center;
    padding: 64px;
    max-width: 50%;
}

.overlay-text {
    display: flex;
    flex-grow: 1;
    gap: 12px;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-text > h1 {
    font-size: 2rem;
    color: white;
}

.overlay-text > p {
    font-size: 1.4em;
    color: white;
}

.overlay-btn {
    align-self: center;
    margin-top: auto;
}

.overlay-image > img {
    width: 256px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .overlay-content {
        gap: 16px;
        padding: 16px;
        max-width: 100%;
        margin: 16px;
    }
    .overlay-image > img {
        max-width: 100%;
        width: auto;
    }
}

.gameSwiper {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;
}

.swiper-slide {
    max-width: 100vw;
    max-height: 100vh;
}

.swiper-button-disabled {
    background-color: #ccc;
}

.swiper-button-disabled:hover {
    background-color: #aaa;
    cursor: not-allowed;
}

.found > * {
    fill: grey !important;
    opacity: 0.9 !important;
    fill-opacity: 1 !important;
}