@font-face {
    font-family: SRH_Text;
    src: url(../font/SRH_Text/Web/WOFF/SRHText_W_Rg.woff);
}

@font-face {
    font-family: SRH_Text;
    src: url(../font/SRH_Text/Web/WOFF/SRHText_W_It.woff);
    font-style: italic;
}

@font-face {
    font-family: SRH_Headline;
    src: url(../font/SRH_Headline/Web/WOFF/SRHHeadline_W_Rg.woff);
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: SRH_Text, sans-serif;
    transition: 150ms;
    text-decoration: none;
    /* border: 1px solid beige; */
}

:root {
    --primary: #df4807;
    --primary_toned: #c22d00;
    --secondary: #006999;
    --secondary_95: rgba(0, 105, 153, .95);
    --secondary_50: rgba(0, 105, 153, .5);
    --accent_1: #001624;
    --accent_2: #fcc41d;
    --accent_3: #35b6a2;
    --accent_4: #cc0081;
    --flow1: #ff692e;
    --flow2: #f45c25;
    --flow3: #e95220;
    --font: var(--warmDarkGrey);
    --headline: var(--font);
    --logoMain: var(--primary);
    --logoMeta: var(--font);
    --nav-global_bg: var(--accent_1);
    --stage_bar: var(--accent_1);
    --cm_abstract_bg-dark: var(--accent_1);
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-content: space-evenly;
    overflow: auto;
    background-color: #001725;
    height: 100%;
    width: 100%;
}

.bg-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../src/leute.jpg") ;
    background-size: cover;
    height: 83.5%;
    width: 100%;
    z-index: 0;
}

.coll-1 {
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
    text-align: center;
    background-color:white;
    border-radius: 1em;
    border-bottom-left-radius: 0;
    width: 90%;
    height: 70%;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.08);
    z-index: 1;
}

h1 {
    font-family: SRHHeadline, sans-serif;
    text-align: left;
    margin-left: 3rem;
    
    font-size: 1.2em;
    padding-top: 0.5em;
    color: #df4807;
}

.textBox {
    color: #575756;
    text-align: left;
    padding: 1em;
    background-color:  #f5f4f3;    
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    border-radius: 1em;
    height: 70%;
}

h2 {
    color: #171717;
    margin-bottom: 0.2em;
    font-size: 1.1em;
}

p {
    margin-bottom: 0.2em;
    font-size: 1em;
}

.it {
    font-style: italic;
    font-size: 0.9em;
}

.turnErr {
    margin-bottom: 0.2em;
    margin-top: 2em;
    color: #c22d00;
}

.coll-2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.coll-3 {
    width: 25%;
    order: -1;
    z-index: 1;
}

.logoMain{
    fill: #df4807;
}

.startBtn {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: #df4807;
    color: #fff;
    border: none;
    font-size: 1.5em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (orientation: landscape){

    .coll-1 {
        width: 60%;
        min-width: 30em;
        height: 70%;
        min-height: 20em;
    }

    .coll-2 {
        width: 10%;
    }

    .coll-3{
        width: 14%;
        position: fixed;
        top: 5%;
        right: 8%;
    }

    .turnErr {
        display: none;
    }
}

@media screen and (orientation: landscape) and (max-width: 768px){

    .coll-3{
        width: 12%;
        position: fixed;
        top: 5%;
        right: 5%;
    }

}

@media screen and (orientation: landscape) and (min-width: 992px) {

    .coll-1 {
        width: 55%;
        height: 60%;
    }

    p {
        font-size: 1.2em;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    .it {
        font-size: 1.1em;
    }
    
    .startBtn {
        height: 5rem;
        width: 5rem;
    }

    .material-symbols-rounded {
        font-variation-settings:
        'opsz' 48
      }
}

@media screen and (orientation: portrait) and (min-height: 992px) {

    .coll-3 {
        width: 33%;
        order: -1;
    }

    .coll-1 {
        width: 70%;
        height: 50%;
    }

    p {
        font-size: 1.2em;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    .it {
        font-size: 1.1em;
    }
    
    .startBtn {
        height: 5rem;
        width: 5rem;
    }

    .material-symbols-rounded {
        font-variation-settings:
        'opsz' 48
      }
}

@media screen and (orientation: landscape) and (min-width: 1200px) {

    .coll-1 {
        width: 45%;
        height: 60%;
    }
}

@media screen and (orientation: portrait) and (min-height: 1200px) {

    .coll-3 {
        width: 33%;
        order: -1;
    }

    .coll-1 {
        width: 70%;
        height: 45%;
    }
}    